SFTP_HOST=192.0.2.1
SFTP_PORT=22
SFTP_USER=root
SFTP_PASS=

# you can use key if needed
# SFTP_PRIVATE_KEY=~/.ssh/id_rsa

LOCAL_DIR_FE=../luci-app-forkop/htdocs/luci-static/resources/view/forkop
REMOTE_DIR_FE=/www/luci-static/resources/view/forkop

LOCAL_DIR_BIN=../forkop/files/usr/bin/
REMOTE_DIR_BIN=/usr/bin/

LOCAL_DIR_LIB=../forkop/files/usr/lib/
REMOTE_DIR_LIB=/usr/lib/forkop/
